// Copyright (c) 2019, OpenEmu Team
//
// Redistribution and use in source and binary forms, with or without
// modification, are permitted provided that the following conditions are met:
//     * Redistributions of source code must retain the above copyright
//       notice, this list of conditions and the following disclaimer.
//     * Redistributions in binary form must reproduce the above copyright
//       notice, this list of conditions and the following disclaimer in the
//       documentation and/or other materials provided with the distribution.
//     * Neither the name of the OpenEmu Team nor the
//       names of its contributors may be used to endorse or promote products
//       derived from this software without specific prior written permission.
//
// THIS SOFTWARE IS PROVIDED BY OpenEmu Team ''AS IS'' AND ANY
// EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
// WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
// DISCLAIMED. IN NO EVENT SHALL OpenEmu Team BE LIABLE FOR ANY
// DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
// (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
// LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
// ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
// (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
// SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_DIR=$(PROJECT_DIR)
THIRD_DIR=$(BASE_DIR)/3rdparty

GLSLANG_BASE=$(THIRD_DIR)/glslang
GLSLANG_BUILD_DIR=$(GLSLANG_BASE)/build
GLSLANG_PREPROCESSOR=NV_EXTENSIONS GLSLANG_OSINCLUDE_UNIX 'ENABLE_OPT=0'
GLSLANG_HEADERS=$(GLSLANG_BASE) $(GLSLANG_BUILD_DIR)/include

SPIRV_BASE=$(THIRD_DIR)/SPIRV-Cross
SPIRV_PREPROCESSOR='SPIRV_CROSS_C_API_GLSL=1' 'SPIRV_CROSS_C_API_MSL=1'
SPIRV_HEADERS=$(SPIRV_BASE)

SPIRV_TOOLS_BASE=$(THIRD_DIR)/SPIRV-Tools
SPIRV_TOOLS_PREPROCESSOR=$(inherited)
SPIRV_TOOLS_HEADERS=$(SPIRV_TOOLS_BASE) $(SPIRV_TOOLS_BASE)/include

// overrides

USER_HEADER_SEARCH_PATHS=$(inherited) $(GLSLANG_HEADERS) $(SPIRV_HEADERS) $(SPIRV_TOOLS_HEADERS)
GCC_PREPROCESSOR_DEFINITIONS=$(inherited) $(GLSLANG_PREPROCESSOR) $(SPIRV_PREPROCESSOR) $(SPIRV_TOOLS_PREPROCESSOR)

// modules
MODULEMAP_PRIVATE_FILE = $(SRCROOT)/Source/Renderer.private.modulemap
SWIFT_INCLUDE_PATHS = $(SRCROOT)/Source
